@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #4caf50;
}

h1 {
  font-size: 80px;
  color: rgb(26 46 5);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-style: none;
  cursor: pointer;
  width: 150px;
  height: 150px;
  color: rgb(26 46 5);
  font-size: 30px;
  font-weight: 600px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
