@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: #4caf50;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 80px;
  color: rgb(26 46 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

button {
  border-style: none;
  cursor: pointer;
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 30px;
  font-weight: 600px;
  border-radius: 50%;
  background-color: rgb(26 46 5);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
  border-style: none;
  cursor: pointer;
  transform: scale(1.1);
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 30px;
  font-weight: 600px;
  border-radius: 50%;
  background-color: rgb(26 46 5);
  border: solid 5px #fff;
}

.result {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-top: 100px;
}

.scores {
  /* border: solid 2px thistle; */
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
  line-height: 1.8;
  font-weight: 800;
}
